.campo{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;;
}

.campo label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.campo input{
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.07);
    padding: 30px 20px;
    outline-color: #6278F7; /*colo de borde cuando hacemos focus*/
    font-size: 16px;
    box-sizing: border-box; /*Investigar*/
}

.campo-color input {
    height: 40px;
    padding: 5px 20px;
}